.btn {
	border: none;
	font-size: 16px;
	display: block;
	position: absolute;
	left: 80%;
	width: 20%;
    height: 10%;
}

.red{

color: #FFFFFF;
background-color: #CD3232; /* red */
top: 25%;

}

.blue{

color: #FFFFFF;
background-color: #3285CD; /* blue */
top: 35%;

}

.green{

color: #FFFFFF;
background-color: #32CD47; /* green */
top: 45%;

}

.yellow{

color: #FFFFFF;
background-color: #F0E91B; /* yellow */
top: 55%;

}

.start{

color: #000000;
top: 5%;

}

body{

padding: 0; 
margin: 0;

} 

canvas{

vertical-align: center;

}